{% extends 'video_bank/base.html'%}
{% load static i18n %}

{% load static parler_tags %}

{% block content %}

<!-- Page Heading -->
     <h1 class="my-4">{% trans 'Movies Listing' %} </h1>



     <div class="row">
         {% for movie in object_list %}
           <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
             <div class="card h-100">
               <a href="{% url 'movie_detail' movie.slug %}"><img class="card-img-top" src="{{ movie.picture.url }}" alt=""></a>
               <div class="card-body">
                 <h4 class="card-title">
                   <a href="{% url 'movie_detail' movie.slug %}">{{ movie.title }}</a>
                 </h4>
                 <p class="card-text">{{ movie.synopsis|slice:":150" }} ...</p>
               </div>
             </div>
           </div>

           {% endfor %}


       </div>







<!-- Pagination -->
     <ul class="pagination justify-content-center">
       <li class="page-item">
         <a class="page-link" href="#" aria-label="Previous">
           <span aria-hidden="true">&laquo;</span>
           <span class="sr-only">{% trans 'Previous' %}</span>
         </a>
       </li>
       <li class="page-item">
         <a class="page-link" href="#">1</a>
       </li>
       <li class="page-item">
         <a class="page-link" href="#">2</a>
       </li>
       <li class="page-item">
         <a class="page-link" href="#">3</a>
       </li>
       <li class="page-item">
         <a class="page-link" href="#" aria-label="Next">
           <span aria-hidden="true">&raquo;</span>
           <span class="sr-only">{% trans 'Next' %}</span>
         </a>
       </li>
     </ul>


{% endblock %}
