{% extends 'video_bank/base.html'%}
{% load static i18n %}
{% load static parler_tags %}
{% block content %}
<!-- Page Heading -->
     <h1 class="my-4">{% trans 'Movies Rented' %} </h1>




<div class="row">

        {% for rent in object_list %}

        <div class="col-lg-6 col-md-6 col-sm-12 portfolio-item">

          <div class="card h-100 p-2 d-flex flex-row">
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% url 'movie_detail' rent.movie.slug %}" class="text-danger">{{ rent.movie.title }}</a>
              </h4>
              <p class="card-text">{% trans 'Customer' %}: {{ rent.customer.username}} </p>
              <p class="card-text">{% trans 'Checkout' %}: {{ rent.checkout_date}} </p>
              <p class="card-text">{% trans 'Return' %}: {{ rent.return_date}} </p>

            </div>
            <div class="actionRent d-flex flex-column  justify-content-around">
                {% if A and not B %}
                <button type="button" class="btn  btn-outline-danger" name="btnUnRent">{% trans 'Unrent' %}</button>
                <button type="button" class="btn  btn-outline-danger" name="btnSendMail">{% trans 'Send Mail' %}</button>
                {% endif %}
            </div>
          </div>
        </div>

        {% endfor %}



    </div>
    <!-- /.row -->

{% endblock %}
