{% extends 'video_bank/base.html'%}
{% load static i18n %}
{% load static parler_tags %}

{% block content %}

<!-- Page Heading -->
    <h1 class="my-4 text-center">{% trans 'Login' %}</h1>
    <div class="row justify-content-center ">
        <form action="." method="post" class="login">
            {% csrf_token %}
            <input type="hidden" name="next" value="/">
            {{ form.username.label }}
            {{ form.username }}

            {{ form.password.label }}
            {{ form.password }}
            <button type="submit">{% trans 'Login' %}</button>
        </form>

    </div>
{% endblock %}
